* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
}


/* ====== CONTENEDOR GENERAL ====== */

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
}

.contenedor-principal {
    margin: 3.5%;
    display: flex;
    flex-direction: column;

}

.materias-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1; /* Esto reemplaza width: 100% */
}

/* ====== CADA MATERIA ====== */
.materia-card {
    background-color: #4A3F61;   /* Morado de las tarjetas */
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 25px;
    font-size: 20px;
    font-weight: 500;
    flex-wrap: wrap;
}

/* ====== NOMBRE DE LA MATERIA ====== */
.materia-nombre h3 {
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    color: white;
}

/* ====== OPCIONES DE LA MATERIA ====== */
.materia-opciones {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* ====== BOTONES ====== */
.materia-opciones a {
    background-color: #37A8E0;  /* Azul botones */
    color: white;
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
    transition: 0.2s ease-in-out;
    display: inline-block;
    text-align: center;
}

.materia-opciones a:hover {
    background-color: #2d91c2;
}

/* ====== TÍTULO PRINCIPAL ====== */
h1 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #000;
}

h2{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #000;
}

.volver-container{
    background-color: #4A3F61;
    width: 90px;
    text-align: center;
    border-radius: 20px;
    display: inline-block;
    padding: 7px;
    margin-bottom: 20px;
}

.volver-container a {
    font-size: 0.9rem;
    color: #fff;
    text-decoration: none;

}

@media (max-width: 768px) {
    .materias-box {
        display: flex;
        flex-direction: column;
        align-items: center;  
        justify-content: center; 
        gap: 50px;
    }

    .materia-card {
        width: 90%; 
        flex-direction: column; 
        align-items: center;    
        text-align: center;     
        gap: 20px; 
    }

    .materia-nombre h3 {
        font-size: 30px;
        margin-bottom: 0; 
    }

    .materia-opciones {
        flex-direction: column; 
        gap: 8px;
        align-items: center;   
    }

    .materia-opciones a {
        width: 100%;            
        max-width: 250px;       
        text-align: center;
    }
}