/* Main */
.main-content {
    flex: 1;
    padding: 20px;
    margin-left: 130px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title {
    margin: 15px 0;
    font-size: 18px;
}

/* Tabla calificaciones */
.calificaciones-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.calificaciones-table th, 
.calificaciones-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.calificaciones-table th {
    background: #eee;
}

.calificaciones-table input {
    width: 60px;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 4px;
}

/* Acciones */
.acciones {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.volver-btn, .guardar-btn {
    background: #3e2d58;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
}

.guardar-btn {
    background: #1dc6e6;
}

