/* GENERAL */
body {
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
    display: flex;
    height: 100vh;
    background: #f9f9f9;
}



/* MAIN CONTENT */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 290px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e0e0e0;
    color: white;
    padding: 15px 25px;
}

.page-title {
    margin: 0;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-avatar {
    width: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

/* CONTENT */
.content {
    padding: 20px;
}

.section-title {
    font-size: 22px;
    margin-bottom: 15px;
}

/* TABLE */
.activities-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.activities-table th, .activities-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.activities-table th {
    background: #d9d9d9;
    color: #000000;
}

.activities-table tr:hover {
    background: #f5f5f5;
}

.no-activities {
    font-size: 16px;
    color: #777;
    margin: 20px 0;
}

/* BUTTONS */
.btn {
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    transition: 0.3s;
}

.btn.crear {
    background: #4A4063;
    color: white;
}

.btn.editar {
    background: #4A4063;
    color: white;
}

.btn.eliminar {
    background: #4A4063;
    color: white;
}

.btn:hover {
    opacity: 0.8;
}

h1.page-title {
    color: #4A4063;
}