body {
  font-family: 'Comfortaa', sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
}

/* Sidebar */
.sidebar {
    width: 240px;
    background-color: #4A4063;
    padding: 1.5rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    color: #fff;
    z-index: 100;
    box-sizing: border-box;
}

.logo {
    text-align: center;
    margin-bottom: 3rem;
}

.logo img {
    max-width: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: brightness(0) invert(1);
}


.nav-list {
    list-style: none;
    padding: 0;
}

.nav-list li {
    margin-bottom: 0.3rem;
}

.nav-item {
    display: flex;
    align-items: center;
    padding: 0.8rem;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 0.9rem;
    transition: all 0.3s ease;
    gap: 0.7rem;
}

.nav-item.active {
    background-color: #fff;
    color: #4A4063;
}

.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.nav-item.active:hover {
    background-color: #fff;
    color: #4A4063;
}

.nav-icon {
    width: 16px;
    height: 16px;
}

.logout-container {
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    right: 1rem;
}

.logout-btn {
    background-color: #1E91D6;
    color: #fff;
    border: none;
    padding: 1rem;
    border-radius: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    font-family: "Comfortaa", sans-serif;
}

.logout-btn:hover {
    background-color: #6A5B8C;
}

/* Main */
.main-content {
  padding: 20px;
  margin-left: 240px; /* ancho de la barra lateral */
}

.page-title {
  margin-bottom: 20px;
}

/* Grid cursos */
.cursos-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.curso-card {
  background: #c7e6e7;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.curso-card p {
  margin-bottom: 15px;
  font-weight: bold;
}

.consultar-btn {
  display: inline-block;
  background: #3e2d58;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  text-decoration: none;
}

.volver-section {
  margin-top: 25px;
  text-align: center;
}

.volver-btn {
  background: #3e2d58;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 6px;
}