body {
    font-family: 'Comfortaa', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background: #f9f9f9;
}

/* Sidebar */
.sidebar {
    width: 240px;
    background-color: #4A4063;
    padding: 1.5rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    color: #fff;
    z-index: 100;
}

.logo {
    text-align: center;
    margin-bottom: 3rem;
}

.logo img {
    max-width: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: brightness(0) invert(1);
}


.nav-list {
    list-style: none;
    padding: 0;
}

.nav-list li {
    margin-bottom: 0.3rem;
}

.nav-item {
    display: flex;
    align-items: center;
    padding: 0.8rem;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 0.9rem;
    transition: all 0.3s ease;
    gap: 0.7rem;
}

.nav-item.active {
    background-color: #fff;
    color: #4A4063;
}

.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.nav-item.active:hover {
    background-color: #fff;
    color: #4A4063;
}

.nav-icon {
    width: 16px;
    height: 16px;
}

.logout-container {
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    right: 1rem;
}

.logout-btn {
    background-color: #1E91D6;
    color: #fff;
    border: none;
    padding: 1rem;
    border-radius: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    font-family: "Comfortaa", sans-serif;
}

.logout-btn:hover {
    background-color: #6A5B8C;
}

/* Main */
.main-content {
    flex: 1;
    padding: 20px;
    margin-left: 290px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    border-radius: 5px;
}

/* Tabla material */
.material-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.material-table th, 
.material-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.material-table th {
    background: #eee;
}

.editar-btn {
    background: #4A4063;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.borrar-btn {
    background: #4A4063;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}

/* Volver */
.volver-section {
    text-align: center;
    margin-top: 20px;
}

.volver-btn {
    background: #3e2d58;
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 6px;
}