{% extends "profesores/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profesores/actividad_profesores_consultar.css' %}">
{% endblock %}

{% block mockUp %}
    <!-- CONTENT -->
    <div class="content">
        <h2 class="section-title">Seleccione Periodo:</h2>
        
        <div class="period-selector">
            {% for periodo in periodos %}
                <a href="{% url 'actividad_profesores_consultar_cursos' periodo.Per_id %}" class="period-btn">
                    {{ periodo.Per_nombre }}
                </a>
            {% empty %}
                <p>No hay periodos registrados.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}