{% extends "profesores/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profesores/actividad_profesores_consultar_curso.css' %}">
<link rel="icon" type="image/vnd.icon" href="{% static 'images/favicon/Favicon.png' %}">
{% endblock %}

{% block page_title %}Cursos y periodos:{% endblock %}

{% block mockUp %}
<!-- CONTENT -->
        <div class="content">
            <h2 class="section-title">Consultar tus cursos por periodo</h2>
            
            <div class="curso-selector">
                {% for bol in boletines %}
                    <div class="curso-info">
                        <p>{{ bol.Cur.Cur_nombre }} - {{ bol.Mtr.Mtr_nombre }}</p>
                        <div class="acciones">
                            <a href="{% url 'actividad_profesores_crear_actividad' bol.Bol_id %}" class="crear_actividad-btn">Actividades</a>
                            <a href="{% url 'lista_actividades_calificar' bol.Cur.Cur_id %}" class="calificacion-btn">Calificación</a>
                            <a href="{% url 'materialApoyo_subir' bol.Bol_id %}" class="material_apoyo-btn">Material de Apoyo</a>
                        </div>
                    </div>
                {% empty %}
                    <p>No tienes cursos asignados en este periodo.</p>
                {% endfor %}
            </div>
            <!-- Volver -->
            <div class="volver-section">
                <a href="{% url 'actividad_profesores_consultar' %}" class="volver-btn">Volver</a>
            </div>
        </div>
{% endblock %}