{% extends "profesores/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profesores/materialApoyo_consultar.css' %}">
{% endblock %}

{% block page_title %}Materiales de Apoyo Subidos{% endblock %}

{% block mockUp %}

    <!-- MAIN -->
    <main class="main-content">
        <header class="header">
            <span>Total: {{ materiales|length }} material{{ materiales|length|pluralize }}</span>
        </header>

        <input type="text" placeholder="Buscar Material" class="search-bar">

        <table class="material-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Archivo</th>
                    <th>Descripción</th>
                    <th>Fecha de creación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for material in materiales %}
                <tr>
                    <td>{{ material.Mate_titulo }}</td>
                    <td>
                        {% if material.Mate_archivo %}
                            <a href="{{ material.Mate_archivo.url }}" target="_blank">Ver archivo</a>
                        {% else %}
                            Sin archivo
                        {% endif %}
                    </td>
                    <td>{{ material.Mate_descripcion }}</td>
                    <td>{{ material.id|date:"d/m/Y" }}</td>
                    <td class="action-buttons">
                        <a href="{% url 'materialApoyo_editar' material.Mate_id %}" class="icon-btn">
                            <span class="material-icons-outlined">edit</span>
                        </a>
                        <a href="{% url 'materialApoyo_confirmar_eliminar' material.Mate_id %}" class="icon-btn">
                            <span class="material-icons-outlined">delete</span></a>
                    </td>

                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No hay materiales de apoyo aún.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="volver-section">
            <a href="{% url 'actividad_profesores_consultar_cursos' periodo_id %}" class="volver-btn">Volver</a>
        </div>
    </main>
{% endblock %}
