{% extends "profesores/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profesores/reportes_profesores.css' %}">
{% endblock %}

{% block mockUp %}
      <div class="content">
          <h2 class="section-title">Seleccione un periodo:</h2>
          <div class="btn-group">
            {% for periodo in periodos %}
                <a href="{% url 'reportes_profesores_descargar' periodo.Per_id %}" class="btn">
                {{ periodo.Per_nombre }}
                </a>
            {% endfor %}
            </div>
      </div>
  </main>
{% endblock %}