{% extends "profesores/base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profesores/ver_perfil_profesores.css' %}">
{% endblock %}

{% block page_title %}Mi perfil{% endblock %}

{% block mockUp %}
<section class="view-profile">
    <div class="profile-container">
        <div class="left-column">
            <div class="profile-pic">
                <img src="{% static 'images/profesores/perfil.png' %}" alt="Foto de perfil">
            </div>
            <p class="profile-name">{{ usuario.Us_nombre }}</p>
            <p class="profile-role">Profesor</p>
        </div>

        <div class="right-column">
            <div class="profile-info">
                <p><strong>Nombre de usuario:</strong><br><br> {{ usuario.Us_nombre }}</p><br>
                <p><strong>E-mail:</strong><br><br> {{ usuario.correo }}</p>
            </div>

            <a href="{% url 'editar_perfil_profesores' %}">
                <button class="edit-btn">Editar perfil</button>
            </a>
        </div>
    </div>
</section>
{% endblock %}
