{% extends "estudiantes/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/estudiantes/actividad_estudiantes_consultar.css' %}">
{% endblock %}

{% block page_title %}Actividades:{% endblock %}

{% block mockUp %}
<hr class="linea">
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Estado</th>
            <th>Fecha límite</th>
            <th>Nota</th>
            <th>Archivo profesor</th>
            <th>Subir</th>
        </tr>
    </thead>
<tbody>
    {% for a in actividades %}
<tr class="
    {% if a.estado == 'Sin entregar' %}
        sin-entregar
    {% elif a.estado == 'Entregado' %}
        entregado
    {% elif a.estado == 'Calificado' %}
        calificado
    {% elif a.estado == 'Retrasado' %}
        retrasado
    {% endif %}
">
    <td data-label="Nombre">{{ a.actividad.Act_nombre }}</td>
    <td data-label="Descripción">{{ a.actividad.Act_descripcion }}</td>
    <td data-label="Estado" class="
        {% if a.estado == 'Sin entregar' %}
            estado-sin-entregar
        {% elif a.estado == 'Entregado' %}
            estado-entregado
        {% elif a.estado == 'Calificado' %}
            estado-calificado
        {% elif a.estado == 'Retrasado' %}
            estado-retrasado
        {% endif %}
    ">
        {% if a.estado == 'Calificado' %}
            Calificado <span class="chulito-verde">✔</span>
        {% elif a.estado == 'Entregado' %}
            Entregado
        {% elif a.estado == 'Retrasado' %}
            Retrasado
        {% else %}
            Sin entregar
        {% endif %}
    </td>
    <td data-label="Fecha límite">{{ a.actividad.Act_fechaLimite }}</td>
    <td data-label="Nota">
        {% if a.calificacion %}
            {{ a.calificacion }}
        {% else %}
            N/E
        {% endif %}
    </td>
    <td data-label="Archivo profesor">
        {% if a.actividad.Act_Archivo_Profesor %}
            <a href="{{ a.actividad.Act_Archivo_Profesor.url }}" target="_blank">Ver archivo</a>
        {% else %}
            No hay archivo.
        {% endif %}
    </td> 
    <td data-label="Subir">
        <a href="{% url 'subir_actividad_estudiante' periodo.Per_id materia.Mtr_id a.actividad.Act_id %}">
            Consultar
        </a>
    </td>
</tr>
    {% endfor %}
</tbody>


</table>




{% endblock %}
