<!-- 
Nombre del archivo: editar_periodo.html 
Descripción: Este archivo es un fomrulario de editar los periodos ya creados 
Autor: David Santiago Alfonso Guzman
Fecha de creación: 2025-04-18 
Última modificación: 2025-09-05
-->

{% extends 'base_directivos.html' %}
{% load static %}
{% block page_title %}Periodo - Editor{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/directivos/editar_periodoStyles.css' %}">



{% if messages %}
<div class="message-container">
    {% for message in messages %}
    <div class="floating-alert">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

<div class="container">
    <div class="form-container">
        <h2 class="form-title">Editar Periodo</h2>
        
        <form method="post">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="{{ form.Per.id_for_label }}">Periodo:</label>
                {{ form.Per }}
            </div>
            
            <div class="form-group">
                <label for="{{ form.Pro.id_for_label }}">Profesor:</label>
                {{ form.Pro }}
            </div>
            
            <div class="form-group">
                <label for="{{ form.Mtr.id_for_label }}">Materia:</label>
                {{ form.Mtr }}
            </div>
            
            <div class="form-group">
                <label for="{{ form.Cur.id_for_label }}">Curso:</label>
                {{ form.Cur }}
            </div>
            
            <div class="button-group">
                <button type="submit" class="btn btn-primary">Guardar cambios</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}