{% extends 'base_directivos.html' %}
{% load static %}
{% block page_title %}Editar perfil{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/estudiantes/editar_perfil_estudiantes.css' %}">

<section class="edit-profile">
    <div class="profile-form">
        <div class="left-column">
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="message {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <label for="username">Nombre de usuario</label><br><br>
            <input type="text" id="username" name="username" value="{{ usuario.Us_nombre }}" required><br><br>

            <label for="email">E-mail</label><br><br>
            <input type="email" id="email" name="email" value="{{ usuario.correo }}" required><br><br>

            <label for="current_password">Contraseña actual</label><br><br>
            <div class="password-wrapper">
                <input type="password" id="current_password" name="current_password" required>
                <span class="toggle-password" onclick="togglePassword('current_password')">(•)</span>
            </div><br><br>

            <label for="new_password">Nueva contraseña (opcional)</label><br><br>
            <div class="password-wrapper">
                <input type="password" id="new_password" name="new_password">
                <span class="toggle-password" onclick="togglePassword('new_password')">(•)</span>
            </div><br><br>

            <button type="submit" class="save-btn">Guardar</button>
        </form>

        </div>

        <div class="right-column">
            <div class="profile-pic">
                <img src="{% static 'images/acudientes/perfil.png' %}" alt="Foto de perfil">
            </div>
            <p class="profile-name">{{ usuario.Us_nombre }}</p>
            <p class="profile-role">Directivo</p>
        </div>
    </div>
</section>

<script>
function togglePassword(id) {
    const input = document.getElementById(id);
    if (input.type === "password") {
        input.type = "text";
    } else {
        input.type = "password";
    }
}
</script>

{% endblock %}
