<!-- 
Nombre del archivo: materia.html 
Descripción: Este archivo es un formulari para la creacion de las materias
Autor: David Santiago Alfonso Guzman
Fecha de creación: 2025-04-18
Última modificación: 2025-08-27
-->

{% extends 'base_directivos.html' %}
{% load static %}
{% block page_title %}Materia{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/directivos/materiaStyles.css' %}">


<div class="action-buttons">
  <a href="{% url 'crear_materia' %}" class="btn {% if request.resolver_match.url_name == 'crear_materia' %}btn-primary{% else %}btn-secondary{% endif %}">Crear</a>
  <a href="{% url 'lista_materias' %}" class="btn {% if request.resolver_match.url_name == 'lista_materias' %}btn-primary{% else %}btn-secondary{% endif %}">Consultar</a>
</div>

<form method="post" class="form-layout">
  {% csrf_token %}

  <div class="form-group">
  <label for="id_Cur_nombre">Nombre de la materia:</label>
    {{ form.Mtr_nombre }}
  </div>



  <button type="submit" class="submit-button">Registrar Materia</button>
</form>

{% endblock %}
