<!-- 
Nombre del archivo: periodo_directivos_consultar.html 
Descripción: Este archivo es la lista de los periodos o asignaciones credas previamnete en el sistema
Autor: David Santiago Alfonso Guzman
Fecha de creación: 2025-04-18
Última modificación: 2025-08-27
-->

{% extends 'base_directivos.html' %}
{% load static %}
{% block page_title %}Asignacion - Consultar{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/directivos/periodo_directivos_consultarStyles.css' %}">


{% if messages %}
<div class="message-container">
    {% for message in messages %}
    <div class="floating-alert">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

<div class="action-buttons" style="text-align: center; margin-bottom: 1.5rem;">
<a href="{% url 'periodo_directivos' %}" class="btn btn-primary">Crear</a>
<a href="{% url 'periodo_directivos_consultar' %}" class="btn btn-secondary">Consultar</a>
</div>

<div class="table-container">
<table>
    <thead>
    <tr>
        <th>Periodo</th>
        <th>Profesor</th>
        <th>Materia</th>
        <th>Curso</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    {% for b in boletines %}
    <tr>
        <td>{{ b.Per.Per_nombre }}</td>
        <td>{{ b.Pro.Us.Us_nombre }}</td>
        <td>{{ b.Mtr.Mtr_nombre }}</td>
        <td>{{ b.Cur.Cur_nombre }}</td>
        <td class="actions-cell">
        <a href="{% url 'editar_periodo' b.Bol_id %}" class="icon-btn edit-btn" title="Editar">
            <span class="material-icons-outlined">edit</span>
        </a>
        <a href="{% url 'eliminar_periodo' b.Bol_id %}" class="icon-btn delete-btn" title="Eliminar">
            <span class="material-icons-outlined">delete</span>
        </a>
        </td>
    </tr>
    {% empty %}
    <tr><td colspan="6" class="no-activities">Sin registros.</td></tr>
    {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}