<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver perfil - Zaino Academy</title>
    <link rel="stylesheet" href="{% static 'css/acudientes/ver_perfil_acudientes.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:700|Varela:400&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet" />
</head>
<body class="dashboard-page">
    <aside class="sidebar">
        <div class="logo">
            <a href="{% url 'dashboard_acudientes' %}"><img src="{% static 'images/acudientes/Favicon.png' %}" alt="Logo Libro"/></a>
            <a href="{% url 'dashboard_acudientes' %}"><img src="{% static 'images/acudientes/LogoNormal-removebg-preview.png' %}" alt="Logo Zaino Academy" /></a>
        </div>
        <nav>
            <ul class="nav-list">
                <li><a href="{% url 'dashboard_acudientes' %}" class="nav-item">
                    <img src="{% static 'images/acudientes/inicio.png' %}" class="nav-icon" alt="Inicio"> Inicio
                </a></li>
                
                <li><a href="{% url 'actividades_acudientes' %}" class="nav-item">
                    <img src="{% static 'images/acudientes/actividades.png' %}" class="nav-icon" alt="Actividades"> Actividades
                </a></li>
                
                <li><a href="{% url 'asistencia_acudientes' %}" class="nav-item">
                    <img src="{% static 'images/acudientes/asistencia.png' %}" class="nav-icon" alt="Asistencia"> Asistencia
                </a></li>
            </ul>
        </nav>
        <div class="logout-container">
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <button type="button" class="logout-btn" onclick="openModal()">Cerrar sesión</button>
            </form>
        </div>
    </aside>

    <main class="main-content">
        <header class="page-header">
            <h1 class="page-title">Ver perfil</h1>
    <div class="header-icons">
            <!-- Notificaciones -->
            
            <!-- Nombre -->

            <span class="user-name">{{ usuario.Us_nombre }}</span>
            
            <!-- Avatar / Perfil -->
                <!-- Avatar / Perfil -->
                    <a href="{% url 'ver_perfil_acudientes' %}">
                        {% if usuario.foto_perfil_usuario %}
                            <img src="{{ usuario.foto_perfil_usuario.url }}" class="user-avatar" alt="Perfil">
                        {% else %}
                            <img src="{% static 'images/acudientes/perfil.png' %}" class="user-avatar" alt="Perfil">
                        {% endif %}
                    </a>
        </div>

        <button class="hamburger" onclick="toggleMenu()">☰</button>
                
            <div id="dropdown-menu" class="dropdown-menu">
                    <a href="{% url 'dashboard_acudientes' %}">Inicio</a>
                    <a href="{% url 'actividades_acudientes' %}">Actividades</a>
                    <a href="{% url 'asistencia_acudientes' %}">Asistencia</a>
                    <form method="POST" action="{% url 'login' %}">
                        {% csrf_token %}
                        <button type="button" class="dropdown-logout-btn" onclick="openModal()">Cerrar sesión</button>
                    </form>
            </div>
            
    </header>

<section class="view-profile">
    <div class="profile-container">
        <div class="left-column">
        <div class="profile-pic">
            {% if usuario.foto_perfil_usuario %}
                <img src="{{ usuario.foto_perfil_usuario.url }}" alt="Foto de perfil">
            {% else %}
                <img src="{% static 'images/acudientes/perfil.png' %}" alt="Foto de perfil">
            {% endif %}
        </div>
            <p class="profile-name">{{ usuario.Us_nombre }}</p>
            <p class="profile-role">Acudiente</p>
        </div>

        <div class="right-column">
            <div class="profile-info">
                <p><strong>Nombre de usuario:</strong><br><br> {{ usuario.Us_nombre }}</p><br>
                <p><strong>E-mail:</strong><br><br> {{ usuario.correo }}</p>
            </div>

            <a href="{% url 'editar_perfil_acudientes' %}">
                <button class="edit-btn">Editar perfil</button>
            </a>
        </div>
    </div>
</section>
</body>
</html>
